.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  &.spinner-small .spinner-border {
    width: 1rem;
    height: 1rem;
    border-width: 0.15em;
  }

  &.spinner-medium .spinner-border {
    width: 2rem;
    height: 2rem;
    border-width: 0.25em;
  }

  &.spinner-large .spinner-border {
    width: 3rem;
    height: 3rem;
    border-width: 0.3em;
  }

  &.spinner-light .spinner-border {
    border-color: rgba(255, 255, 255, 0.75);
    border-right-color: transparent;
  }
}
